


.content_icon{
    display:flex;
    justify-content:flex-end;
    align-items: center;

  
   
    
}

.content_icon .icon {
    margin-right:18px !important;
   
}

.icon img{
    border-radius: 50%;
}

@media only screen and (max-width: 320px) {
  .content_icon {
        justify-content: center !important;
  }
}